# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/*

# Wrangler/Cloudflare
.wrangler/
wrangler.toml.bak
.dev.vars
/.vs/CopilotSnapshots/B55F5E622B56B74D8D0692BE8287A8A2
.vs/slnx.sqlite
.vs/HelioFlux-web/CopilotIndices/18.0.988.22099/CodeChunks.db
.vs/HelioFlux-web/CopilotIndices/18.0.988.22099/SemanticSymbols.db
